## 1. 변수(variable)

- 임시 기억(저장) 장소(공간) (주기억장치에 잠깐 보관)(램)(휘발성)

## 2. 변수의 특징
- 묵시적 선언
- 동적 바인딩
- immutable(불변성)

## 3. 자료형(Data Type)

### (1) 기본(단순) 자료형

- 데이터를 하나만 저장 가능
    - int
    - float
    - str
    - bool
    
    1) int, float
    
<class 'int'>
<class 'float'>

    2) str

#### 문자열저장

In [2]:
i = '10'
print(type(i))

i = '안녕하세요'
print(type(i))

i = '제 이름은 "홍길동"입니다'
print(type(i))
print(i)

i = '''제 이름은 "홍길동"입니다.
만나서 반갑습니다.'''
print(i)

<class 'str'>
<class 'str'>
<class 'str'>
제 이름은 "홍길동"입니다
제 이름은 "홍길동"입니다.
만나서 반갑습니다.

In [15]:
##### 특수 문자(제어 문자) : \문자, escape문자(\)

a = '이것은 파이썬입니다. \n열심히 공부합시다'
print(a)


a = '이것은 파이썬입니다. \t열심히 공부합시다'
print(a)

# "\t는 탭키 기능입니다."를 출력
a= "\\t는 탭키 기능입니다."
print(a)

# "제 이름은 '홍길동'입니다."를 출력
b = "\"제 이름은 '홍길동'입니다.\""
print(b)

이것은 파이썬입니다.
열심히 공부합시다
이것은 파이썬입니다. 	열심히 공부합시다
\t는 탭키 기능입니다.
"제 이름은 '홍길동'입니다."

In [16]:
##### #를 줄바꾸믜 용도로도 사용(파이썬의 특징)
a = 2 + 10 - 5 \
* 3 + 7
print(a)

4

In [20]:
##### 문자열 연결
a = "python"
b = " is fun"
c = " and great"

print(a + b + c)
print(a, b, c)

python is fun and great
python  is fun  and great

In [21]:
##### 문자열을 반복

print(a * 3)

pythonpythonpython

In [3]:
##### 문자열의 길이
a = "python"
print(len(a))

6

In [8]:
##### 인덱싱(indexing) : 원하는 문자에 접근할 수 있는 방법을 제공
인덱스를 이용하면 []대괄호 사용

a = "Life is too short. You need python"
print(a)
print(a[3],a[10])

print("----------------")
print(a[len(a)-1])
print(a[len(a)-2])

print("----------------")
print(a[-1])
print(a[-3])

Life is too short. You need python
e o
----------------
n
o
----------------
n
h

In [15]:
##### 슬라이싱(Slicing) ->  [시작위치 : 끝위치 : 간격] 끝 위치는 -1되서 나오는 것을 잊지 말것. 파이썬 외에도 대부분 이렇다.

print(a[0 : 6])
print(a[ : 6])
print(a[ : ])
print(a[19 : -7])

print("----------------")

print(a[ : : 1])
print(a[ : : 2])
print(a[ : : 3])

Life i
Life i
Life is too short. You need python
You need
----------------
Life is too short. You need python
Lf stosot o edpto
Lesosr ue tn

In [38]:
#####  문자열 포맷팅 : %, format()

### %를 이용하는 방법
print("현재 온도는 18도 입니다.")
print("현재 온도는 %d도 입니다. 그리고 오늘 날씨는 %s입니다." % (18, "맑음"))

# 나눗셈의 결과 : 3 / 5 = 0.6 입니다
print("%s의 결과 : %d %c %d = %.2f입니다" % ("나눗셈", 3, "/", 5, 0.6))

print("-------------------------------------------")

### format()을 이용하는 방법
print("{}의 결과 : {} {} {} = {}".format("나눗셈", 3, "/", 5, (3/5)))
print("{3}의 결과 : {0} {1} {2} = {4}".format( 3, "/", 5, "나눗셈", (3/5)))
print("{title}의 결과 : {n1} {op} {n2} = {result}".format(n1=3, op="/", n2=5, title="나눗셈", result=(3/5)))
print("{3:10}의 결과 : {0} {1} {2} = {4}".format( 3, "/", 5, "나눗셈", (3/5)))
print("{3:<10}의 결과 : {0} {1} {2} = {4}".format( 3, "/", 5, "나눗셈", (3/5)))
print("{3:>10}의 결과 : {0} {1} {2} = {4}".format( 3, "/", 5, "나눗셈", (3/5)))
print("{3:*>10}의 결과 : {0} {1} {2} = {4}".format( 3, "/", 5, "나눗셈", (3/5)))

현재 온도는 18도 입니다.
현재 온도는 18도 입니다. 그리고 오늘 날씨는 맑음입니다.
나눗셈의 결과 : 3 / 5 = 0.60입니다
-------------------------------------------
나눗셈의 결과 : 3 / 5 = 0.6
나눗셈의 결과 : 3 / 5 = 0.6
나눗셈의 결과 : 3 / 5 = 0.6
나눗셈       의 결과 : 3 / 5 = 0.6
나눗셈       의 결과 : 3 / 5 = 0.6
       나눗셈의 결과 : 3 / 5 = 0.6
*******나눗셈의 결과 : 3 / 5 = 0.6

In [31]:
"abced".count("e")

1

In [41]:
i = 10
print(id(i))


i = 11
print(id(i))


i = 10

print(id(i))


j = i
print(id(j))

2030761568848
2030761568880
2030761568848
2030761568848

10이라는 값을 가진 어떠한 주소에서 10을 가져오는 것. 
i의 결과가 10에서 11로 바뀌면서 10이라는 값이 저장되어 있던 공간(주소가 가르키는)이 Garbage가 되어버림
또 다른 10의 값을 불러오면 첫 위의 10의 주소가 아니라 새로운 주소에 위치한 10번이 나타나는 것임.(또한 11의 값 역시 garbege가 되버림)
이렇게되면 j에게는 i라는 것 값이 저장되어 있는 주소를 불러옴(그리고 i는 다시 i가 가르키는 주소를 통해 값을 가져옴)

이러한 garbage가 쌓이면 프로그램이 자동으로 가비지를 청소함(GC : garbege collection)

id함수로 보여지는 것과는 다름

In [44]:
##### 불변성

a = "pithon"
print(a)

"a[1] = 'y' 기본 자료형은 값을 바꿀 수 없다."
a[0] + 'y' + a[2:]

pithon

'python'

In [46]:
i = 10
print(type(i))

i = 3.14
print(type(i))

i = float(10)
print(i,type(i))

i = int(3.14)
print(type(i))

<class 'int'>
<class 'float'>
10.0 <class 'float'>
<class 'int'>

In [49]:
i = True
print(type(i))

print('--------------------------------------------')

print(bool(10),bool(3.14),bool(-2), bool(0))
print(bool('가'),bool('가나다'),bool(""), bool(" "), bool(None))

<class 'bool'>
--------------------------------------------
True True True False
True True False True False

### (2) 집합(군집, 묶음) 자료형

- 여러 개의 데이터를 모아서 저장

    - list
    - tuple
    - dict
    - set

#### 1) list

- "[]" 사용
- 임의의 객체를 순차적으로 저장하는 집합적 자료형(Sequence Data)
- 인덱스 사용
- mutable

In [51]:
a = 10
b = 11
c = 11
print(a,b,c)
a, b, c = 10, 11, 12
print(a, b, c)

10 11 11
10 11 12

In [54]:
a = [10, 11, 12]
print(a)
print(type(a))
print(a[0],a[1],a[2])

[10, 11, 12]
<class 'list'>
10 11 12

In [55]:
b = ["james", 178, 3.14, True]
print(b)

['james', 178, 3.14, True]

In [58]:
b[1] = 180                             
print(b)

['james', 180, 3.14, True]

"list는 이런식으로 수정이 가능하다!"

In [60]:
a = [1, 2, 3, "가", 3.14, ["a", "b", "c"]]
print(a)
print(a[4])
print(a[0])
print(a[5][0])
print(a[-1][-2])

[1, 2, 3, '가', 3.14, ['a', 'b', 'c']]
3.14
1
a
b

In [66]:
#### 얕은 복사(swallow copy), 깊은 복사(deep copy)

a = [1, 2, 3, 4, 5]

print(a)

b = a
b[0] = 100
print(a)

print("-------------------------------------")

c = a[0:5]
c[0] = 1000
print(a)

print("-------------------------------------")

d = a.copy()
d[0] = 1000
print(a)

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]
-------------------------------------
[100, 2, 3, 4, 5]
-------------------------------------
[100, 2, 3, 4, 5]

리스트의 주소만 가져온 위의 경우 a[0]의 값까지 바뀌었지만, 슬라이싱으로 값을 가져온 아래의 경우 a[0]의 값이 변하지 않았다.

copy함수의 경우도 deep copy이다.

In [75]:
##### 리스트 생성

### 선언(준비)
a = []
b = list()

print(type(a))

print("----------------------------------------")

### 초기화
a = [0, 1, 2, 3, 4]
a = list([0, 1, 2, 3, 4])
a = list([10])
a = list("100")
print(a)

print(list(range(10))) # range(0,10), range(0, 10, 1)

<class 'list'>
----------------------------------------
['1', '0', '0']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
a = [1, 2, 3]
b = [4, 5, 6]
print(a+b)
print(a*3)

print(str(a[1]) + "hi")

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
2hi

In [87]:
##### 정렬 기능

a = [1, 4, 3, 2]
#dir(a)
a.sort()   # 정렬된 값을 보여주고, 값자체의 위치도 정렬시킴
print(a)
a.reverse()
print(a)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [89]:
a = [1, 4, 3, 2]
print(sorted(a))  #sorted는 정렬된 값만 보여주고, 값자체의 위치를 바꾸진 않음(원본의 순서는 그대로).
print(a)

[1, 2, 3, 4]
[1, 4, 3, 2]

In [96]:
##### 추가하기 : insert(), append(), extend()

a = [1, 2, 3]

a.insert(1, 1.5)  #insert(a,b) a는 위치, b는 값
print(a)

a.append(4) #append()는 맨뒤에 추가되고, 여러개 추가시 대괄호로 한덩어리로 추가됨
print(a)
a.append([5, 6])
print(a)

a.extend([7]) #하나를 추가하더라도 반드시 []로 묶어줘야함
print(a)
a.extend([8,9]) # []로 여러개를 묶어도 []없이 값이 나옴
print(a)

[1, 1.5, 2, 3]
[1, 1.5, 2, 3, 4]
[1, 1.5, 2, 3, 4, [5, 6]]
[1, 1.5, 2, 3, 4, [5, 6], 7]
[1, 1.5, 2, 3, 4, [5, 6], 7, 8, 9]

In [103]:
##### 제거하기

### 범위를 지정(slicing)해서 제거

a = [1, 2, 3, 1, 2, 3]
a[1:3] = []
print(a)

### 값을 찾아서 삭제
a = [1, 2, 3, 1, 2, 3]  # 특정 값을 찾아서(왼쪽에서부터) 있으면 나온 첫번째 값을 삭제
a.remove(3)
print(a)

### del
a = [1, 2, 3, 1, 2, 3]
del a[4]
print(a)

a = [1,2,3,1,2,3]
del a[1:3]
print(a)

del a

[1, 1, 2, 3]
[1, 2, 1, 2, 3]
[1, 2, 3, 1, 3]
[1, 1, 2, 3]

In [ ]:
# stack = 수시로 지웠다 썻다 가능한 저장공간, Queue와 stack이 비슷함, heap = 값이 바뀌지 않는 안전한 공간, 69~70p

In [108]:
### stack
a = [10, 20, 30]

b = a.pop()
print(a)
print(b)

[10, 20]
30

In [7]:
##### 검색 기능 : index()
a = [1,2 ,3, 4, 5]
print(a.index(4))
print(a.index(3))
print(a.index(2))
print(a.index(1))

3
2
1
0

#### tuple

- "( )" 소괄호 사용
- immutable : 집합자료형 중에 유일하게 수정불가능하도록 설정되어 있음.

In [120]:
##### immutable

a = ("a", "b", "c", "d", "c")
print(a)
print(type(a))
dir(a)

#a[1] = 'x' 튜플은 수정 불가능
b = list(a) # 수정 가능한 리스트로 변경 후 수정
b[1] =  'x'
print(b)

a=tuple(b) # 튜플로 다시 바꿔주고 보호
print(a)
print(type(a))

('a', 'b', 'c', 'd', 'c')
<class 'tuple'>
['a', 'x', 'c', 'd', 'c']
('a', 'x', 'c', 'd', 'c')
<class 'tuple'>

In [123]:
##### Packing & Unpacking -> 패킹 언패킹이라는 언급이 나오면 튜플을 떠올릴 것!

a = 10, 20, 30  # Packing
print(a)

a1, a2, a3 = a[0], a[1], a[2]
a1, a2, a3 = a # Unpacking
print(a1,a2, a3)

(10, 20, 30)
10 20 30

#### 3) dict 
p.74

- 순서가 없다 -> 속도가 매우 빠르다
- 키(key)를 이용해서 접근
- {키 : 값}
- 검색을 위해서 쓰는 것이 가장 좋음

In [1]:
a = {'name' : '홍길동', "tel" : "111-1111", "age" : 20}
print(a)
print(type(a))

{'name': '홍길동', 'tel': '111-1111', 'age': 20}
<class 'dict'>

In [2]:
print(a.keys())
print(a.values())
print(a.items())  #items() : 키와 값을 튜플로 묶어준 후 값들을 리스트로 가져옴.

dict_keys(['name', 'tel', 'age'])
dict_values(['홍길동', '111-1111', 20])
dict_items([('name', '홍길동'), ('tel', '111-1111'), ('age', 20)])

In [3]:
#### 수정
a["name"] = "임꺽정"
print(a)

{'name': '임꺽정', 'tel': '111-1111', 'age': 20}

In [4]:
##### 추가 
a["hobbies"] = ["낚시","독서","등산"] #없으면 만들어서 추가해버림, 있으면 수정
print(a)

{'name': '임꺽정', 'tel': '111-1111', 'age': 20, 'hobbies': ['낚시', '독서', '등산']}

In [5]:
#### 삭제
del a["tel"]
print(a)

{'name': '임꺽정', 'age': 20, 'hobbies': ['낚시', '독서', '등산']}

In [6]:
### 모두 삭제(변수는 남겨둠, 변수도 지우고 싶으면 del)
a.clear()
print(a)
del a

{}

In [138]:
##### 데이터 가져오기
a = {'name' : '홍길동', "tel" : "111-1111", "age" : 20 }

print(a["name"])
print(a.get("name"))

#print(a["hobby"]) #저장할 때는 없는 것을 바로 등록 가능하나 없는 것을 가져올 수는 없음
print(a.get("hobby", "독서"))   #get을 쓸 경우, 값이 없더라도 default로 바로 지정하여 가져올 수 있음.

홍길동
홍길동
독서

#### 4) Set
p72

In [139]:
a = {1,2,3,4,5,4,2,4} #중복을 제거할 떄 가장 많이 사용함

print(a)
print(type(a))
#printa

{1, 2, 3, 4, 5}
<class 'set'>

In [140]:
b=list(a)
print(b[0])

1

In [141]:
a = [1, 2, 3, 4, 4, 5, 2]
print(a)

b = set(a)
print(b)

a = list(b)
print(a)

[1, 2, 3, 4, 4, 5, 2]
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

In [144]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [158]:
print(1,2, end = ' ')
print(3)
print(format(123.45678, '1'))
print(format(123.45678, '10.1f'))
print(format(123.45678, '10.2f'))
print(format(123, '5d'))

1 2 3
123.45678
     123.5
    123.46
  123

# 4.연산자

### (1) 치환(활당) 연산자

- 복합 치환 연산자 : += *= /= -= ...

In [11]:
a = 10
a = 5
a = 7
print(a)

a = 10
a += 3  # a = a + 3
a += 2  # a = a + 2
print(a)

b = 3
a= b ** 3
print(a)

7
15
27

### (2) 검색 연산자 : in

In [8]:
a = [1, 2, 3, 4, 5] #index는 위치까지 알려주지만, in은 단순하게 있냐 없냐만 파악하기에 매우 유용함

print(a.index(4))
print(4 in a)
print(7 in a)
print(7 not in a)

3
True
False
True