## 1. 파이썬과 MariaDB 연동

240p

- 파이썬과 MariaDB를 연결해주는 모듈
    - pip install mysqlclient
    - pip install PyMySQL

In [ ]:
##### mysqlclient

import MySQLdb

conn = MySQLdb.connect(host="127.0.0.1", user="root", password="1111", database="testdb") # 최소한 이 4가지는 기본적으로 들어가야함

print(conn)
conn.close() #close 잊지말 것

In [ ]:
##### PyMySQL

import pymysql

conn = pymysql.connect(host="127.0.0.1", user="root", password="1111", database="testdb") # 최소한 이 4가지는 기본적으로 들어가야함

print(conn)
conn.close() #close 잊지말 것

### 유지보수를 위한 DB연결

In [ ]:
config = {"host" : "127.0.0.1", "user" : "root", "password" : "1111", "database" : "testdb"}

In [ ]:
conn = MySQLdb.connect(**config) #dict형식은 **로 적어줄 것

print(conn)
conn.close()

In [ ]:
conn = MySQLdb.connect(**config) 

sql = "select * from emp"
cur = conn.cursor() #cursor = sql의 데이터를 파이썬에 맞게 가져와주는 함수
cur.execute(sql) #cur.execute()에 직접 적어도 되고, 지금처럼 변수에 담아서 입력해도 괜찮음
                 #cursor에 있는 data는 db와 연결을 끊으면 다 날아감. 그러니 가져온 값을 메모리로 옮겨야함.
# print(cur)
# for i in cur:
#   print(i)

result = []
for i in cur:
    result.append(i)

conn.close()

# 파이썬에서 작업
print(result)

## (2) insert

In [ ]:

try:
    conn = MySQLdb.connect(**config)

    sql = """CREATE TABLE IF NOT EXISTS tbltest(
                empno int,
                ename varchar(10),
                sal int,
                job varchar(10)
            )
    """

    cur = conn.cursor()
    cur.execute(sql)

    sql = "INSERT INTO tbltest(empno, ename, sal) VALUES(1, 'scott', 5000)"
    cur.execute(sql)
    conn.commit()
    
except Exception as e:
    print(e)

finally:
    if conn != None: #none이 아닐때만 close할 수 있게 입력
        conn.close() #conn에 할당 된 것이 없으면 오류가 발생하기 때문에

In [ ]:

try:
    conn = MySQLdb.connect(**config)
    
    empno = 2
    ename = "miller"
    sal = 1300
    job = "clerk"
    
    cur = conn.cursor()
    cur.execute(sql)

    
    sql = "INSERT INTO tbltest VALUES(" + \
            str(empno) +", '" + ename + "'," + str(sal) + ",'" + job + "')" # sql injection이라는 해킹으로 쉽게 뚫려서 사용안하는 방식
    #print(sql)
    cur.execute(sql)
    conn.commit()
    
except Exception as e:
    print(e)

finally:
    if conn != None: 
        conn.close()

In [ ]:

try:
    conn = MySQLdb.connect(**config)
    
    empno = 2
    ename = "miller"
    sal = 1300
    job = "clerk"
    
    cur = conn.cursor()
    cur.execute(sql)

    
    sql = "INSERT INTO tbltest VALUES(%s, %s, %s, %s)"
    sql_data = (str(empno), ename, str(sal), job)
    
    
    cur.execute(sql, sql_data) #sql= ""에 모든 것을 넣는게 아니라 sql, sql_data로 분리 후, excute(sql, sql_data)로 넣으면 같이 입력됨
    conn.commit()
    
except Exception as e:
    print("오류: ", e)

finally:
    if conn != None: 
        conn.close()

In [ ]:
conn = MySQLdb.connect(**config)
cur = conn.cursor()

dir(cur)

### cursor객체의 fetchall(), fatchmany(), fatchone()
254p


- default는 fetchall()

In [ ]:
conn = None

try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    cur.execute("select * from emp")
    
    for i in cur:
        print(i)
    
except Exception as e:
    print("error :", e)
finally:
    if conn != None:
        conn.close()

In [ ]:
conn = None

try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    cur.execute("select * from emp")
    
    for i in cur.fetchall(): # fetchall이 디폴트라서 윗셀과 결과가 같음
        print(i)
    
except Exception as e:
    print("error :", e)
finally:
    if conn != None:
        conn.close()

In [ ]:
conn = None

try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    cur.execute("select * from emp")
    
    for i in cur.fetchmany(3): # 내가 원하는 갯수만큼만 가져오기
        print(i)
    
except Exception as e:
    print("error :", e)
finally:
    if conn != None:
        conn.close()

In [ ]:
conn = None

try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    cur.execute("select * from emp")
    
    for i in cur.fetchone(): # 하나만 가져오기
        print(i)
    
except Exception as e:
    print("error :", e)
finally:
    if conn != None:
        conn.close()

### (4) DictCursor

- 필드명을 인덱스 대신 키로 사용

In [ ]:
conn = None

try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor(MySQLdb.cursors.DictCursor)
    
    cur.execute("select * from emp")
    
    for i in cur.fetchall(): 
        #print(i[0], i[1],i[2])
        print(i["EMPNO"], i["ENAME"], i["JOB"]) #소문자는 에러 뜨더라, 정확한 필드명을 입력해야함
    
except Exception as e:
    print("error :", e)
finally:
    if conn != None:
        conn.close()

### (5) CSV파일을 DB에 저장

In [ ]:

"""
CREATE TABLE IF NOT EXISTS suppliers(
    Supplier_Name    varchar(20),
    Invoice_Number   varchar(20),
    Part_Number      varchar(20),
    Cost             float,
    Purchase_Date    date
);
"""

In [ ]:
import csv

file = csv.reader(open("data/input.csv","r"))
print(file)

print(next(file))
print(next(file))
print(next(file))

In [ ]:
conn = None

try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    file = csv.reader(open("data/input.csv","r"))
    next(file)           #위에서 확인했듯이 맨윗줄 제목은 필요 없으니 건너뛰자
    for i in file:
        #print(i)        # 원하는 결과값이 출력되는지 print로 확인 후 execute 
        cur.execute("INSERT INTO suppliers VALUES(%s, %s, %s, %s, %s)", i)
        
    conn.commit()
    

except Exception as e:
    print("error :", e)
    
finally:
    if conn != None:
        conn.close()

### (6) DB에서 가져온 결과를 파일로 저장

In [ ]:
conn = None

try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    cur.execute("select * from suppliers where cost > 500000")
    #for i in cur:
    #    print(i)
    
    #예를 들어서 open을 따로 빼서 사용했을 경우, close도 달아줘야함
    file = csv.writer(open("data/output.csv", "w"))
    
    file.writerow(['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date'])
    
    for i in cur:
        file.writerow(i) # 콤마를 자동으로 찍어주면서 저장함
    

except Exception as e:
    print("error :", e)
    
finally:
    if conn != None:
        conn.close()

In [ ]:
conn = None

try:
    conn = MySQLdb.connect(**config)
    cur = conn.cursor()
    
    cur.execute("DELETE FROM suppliers")
    conn.commit()
    
    cur.execute("select * from suppliers where cost > 500000")
    for i in cur:
        print(i)

except Exception as e:
    print("error :", e)
    
finally:
    if conn != None:
        conn.close()

In [ ]:
# 고객관리 이름, 주소, 전화번호 업그레이드 후 db에 저장하고 수정삭제하는 것

## 2. 파이썬과 SQLite 연동

### (1) 로컬로 사용할 수 있는 DBMS

- Access
- SQLite
- Microsoft SQL Server Compact Edition
- Firebird Embeded Server
- H2
- HSQL
- Apache Derby
- ...

### (2) 특징

- 파일기반의 DBMS, 저메모리, 빠른 처리속도
- 오픈소스
- 안드로이드, 아이폰 등에 스마트폰에 기본 내장된 DBMS
- 파이썬에 내장
- 표준 SQL 지원

### (3) 제한 사항

- 컬럼을 삭제하거나 변경하는 것
- Left Outer Join만 지원
- 읽기전용 뷰만 지원

### (4) 공식 사이트

- http://sqlite.org

### (5) 클라이언트 툴

- http://www.sqliteexpert.com

In [ ]:
import sqlite3 #sqlite는 혼자쓰는 db이기 때문에 보안에 신경 쓸 필요가 없다. mariadb처럼 서버에 연결해서 네트워크로 이뤄진 서버가 아니다.

In [ ]:
print(sqlite3.version) #db와 파이썬을 연결해주는 중간 모듈 #혼자쓰는 local용 db (mariadb는 서버용 db)
print(sqlite3.sqlite_version) #sqlite라는 실제 db의 버전

In [ ]:
conn = sqlite3.connect("data/sqlitetest.db") #컴퓨터 내에서 사용할 것이기 때문에 db명만 입력해주면 된다.
print(conn)
conn.close()

## SELECT

In [ ]:
conn = sqlite3.connect("data/sqlitetest.db")
cur = conn.cursor()

cur.execute("select * from emp")   
for i in cur:
    print(i)


conn.close()

#### 자동으로 db와 테이블 생성

In [ ]:
conn = sqlite3.connect("data/auto.db")
cur = conn.cursor()

cur.execute("CREATE TABLE IF NOT EXISTS tbltest(id int, name varchar(10))")
conn.commit()

cur.execute("INSERT INTO tbltest VALUES(1, '홍길동')")
conn.commit()

cur.execute("SELECT * FROM tbltest")
for row in cur:
    print(row)


conn.close()

## csv파일을 읽어서 db에 저장

In [ ]:
import csv


sql = """
CREATE TABLE IF NOT EXISTS suppliers(
    Supplier_Name    varchar(20),
    Invoice_Number   varchar(20),
    Part_Number      varchar(20),
    Cost             float,
    Purchase_Date    date
);
"""

conn = sqlite3.connect("data/auto.db")

cur = conn.cursor()
cur.execute(sql)
conn.commit()


conn.close()

In [ ]:
conn = sqlite3.connect("data/auto.db")

# 테이블 조회하기
cur = conn.cursor()
cur.execute("SELECT name from sqlite_master where type='table'")
for i in cur:
    print(i)
    
# 파일 불러오기
file = csv.reader(open("data/input.csv"))
#for i in file:            #뭔가 작업하면 꼭 프린트로 확인해보자 #테스트하고 주석처리 안해주면 반복돌면서 해당 값의 맨 아래로 가버림
#    print(i)              # 그렇게 되면 next(file)을 쓸 수가 없음. 에러가 나옴


next(file)
for row in file:
    cur.execute("INSERT INTO suppliers VALUES(?, ?, ?, ?, ?)", row) #sqlite는 ?로 변수를 들어갈 표시한다.

conn.commit()

conn.close()

### (6) Memory DB

In [ ]:
# 무조건 하나의 Memory DB밖에 사용가능함

conn = sqlite3.connect(":memory:")

cur = conn.cursor()
cur.execute("CREATE TABLE phonebook(name Varchar(10), phonenumber text)")
cur.execute("INSERT INTO phonebook VALUES(?, ?)", ("tom", "010-1111-1111"))

In [ ]:
cur.execute("select * from phonebook")
for i in cur:
    print(i)

In [ ]:
##### 입력 데이터를 변수명으로 처리

cur.execute("INSERT INTO phonebook VALUES(:vName, :vPhone)", {"vPhone" : "010-222-2222", "vName" : "임꺾정"}) #sql문법, 변수앞에 :을 붙여줌

In [ ]:
cur.execute("select * from phonebook")
for i  in cur:
    print(i)

In [ ]:
#### 여러 개의 데이터를 한번에 입력

datalist = (("jane", "010-333-3333"), ("jerry", "010-444-4444"), ("marry", "010-555-5555"))

cur.executemany("INSERT INTO phonebook VALUES(?, ?)", datalist)

In [ ]:
cur.execute("select * from phonebook")
for i  in cur:
    print(i)

In [ ]:
#### 지금까지 작업을 스크립트로 저장

file = open("data/dump.sql", 'w')

for line in conn.iterdump():    #iterdump 지금까지의 작업 history를 모두 읽어옴
    #print(line) #잘되는지 체크했음 
    #file.write(line) # write에는 자동으로 줄바꿈 기능이 없어서 줄바꿈 기능을 아래와 같이 직접 추가함.
    file.write("{}\n".format(line)) 
    
file.close()
conn.close()

In [ ]:
#### 스크립트 불러오기

conn = sqlite3.connect("data/auto.db")
cur = conn.cursor()

file = open("data/dump.sql") # 'r'은 default값이니 생략
script = file.read()
# print(script) # 잘되는지 확인

# cur.executescript(script)   ### script를 불러올 때는 executescript를 사용할 것!! 그냥 execute 아님

conn.close()

## 3. 파이썬과 MongoDB의 연동

- pip install pymongo

In [3]:
 import pymongo

#from pymongo import MongoClient

### (1) 서버 연결

In [4]:
conn = pymongo.MongoClient("127.0.0.1", 27017) #mongodb 접속하고 ip옆에 뜨는 숫자가 포트번호
print(conn) #확인
conn.close()

MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True)

### (2) Database 연결

In [5]:
conn = pymongo.MongoClient("127.0.0.1", 27017) 

# dbname = conn.get_database("testdb")    #mongodb에 연결하는 첫번째 방법
# dbname = conn.testdb                    #mongodb에 연결하는 두번째 방법
dbname = conn["testdb"]                  # mongodb에 연결하는 세번째 방법
print(dbname)

conn.close()

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'testdb')

### (3) Collection 연결

In [6]:
conn = pymongo.MongoClient("127.0.0.1", 27017) 
dbname = conn.testdb

# collect = dbname["articles"]            #collection에 연결하는 첫번째 방법
collect = dbname.articles                  #collection에 연결하는 두번째 방법
print(collect)    # 확인용




conn.close()

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'testdb'), 'articles')

### (4) 데이터 입력(1개)

In [7]:
conn = pymongo.MongoClient("127.0.0.1", 27017) 
dbname = conn.testdb                       #mongodb에 연결하는 두번째 방법
collect = dbname.articles                  #collection에 연결하는 두번째 방법

for i in collect.find():                  # mongodb에서 조회방법 find
    print(i)                               # 확인용
    
print("------------------------------------")
    
print(collect.count_documents({}))         # documents가 몇개있는지 확인

print("------------------------------------")

data = {"author" : "Mike", "text" : "my first blog post!", "tag" : ["mongodb", "python"]}
collect.insert_one(data)                  # data 1개를 입력할 때, insert_one()

print(collect.count_documents({}))         # data라는 것을 추가해서 document가 4개로 늘어난 것을 확인

print("------------------------------------")

data = {"author" : "Tom", "text" : "my first blog post!", "tag" : ["mongodb", "python"]}
post_id = collect.insert_one(data).inserted_id # ObjectID는 입력 된 후에 생성됨. 아이디가 필요 할 때 find로 불러와야함
print(post_id)    # ObjectID를 확인             # inserted_id는 입력하면서 아이디 값을 불러오는 방법
    
    
conn.close()

{'_id': ObjectId('63edc4c2b833c63868ea6c1a'), 'title': 'article01', 'content': 'content01', 'writer': 'Tom', 'name': {'first': 'gil dong', 'last': 'hong'}, 'language': ['korean', 'english', 'french'], 'likes': 0.0, 'comment': []}
{'_id': ObjectId('63edc4c2b833c63868ea6c1b'), 'title': 'article02', 'content': 'content02', 'writer': 'Alpha', 'name': {'first': 'j. k.', 'last': 'tiger'}, 'language': ['korean', 'chinese'], 'likes': 23.0, 'comment': [{'name': 'Bravo', 'message': 'Hey man!'}]}
{'_id': ObjectId('63edc4c2b833c63868ea6c1c'), 'title': 'article03', 'content': 'content03', 'writer': 'Bravo', 'likes': 40.0, 'comment': [{'name': 'Charlie', 'message': 'Hey man!'}, {'name': 'Delta', 'message': 'Hey man!'}]}
{'_id': ObjectId('6406b1f1e137487d7b761ccc'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}
{'_id': ObjectId('6406b2bce137487d7b761cce'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}
{'_id': ObjectId('6406b2bce137487d7b761ccf'), 'author': 'Tom', 'text': 'my first blog post!', 'tag': ['mongodb', 'python']}
------------------------------------
6
------------------------------------
7
------------------------------------
6406e882e2d15343b5a8ed9e

### (5) 데이터 입력하기(여러개)

In [8]:
conn = pymongo.MongoClient("127.0.0.1", 27017) 
dbname = conn.testdb                       #mongodb에 연결하는 두번째 방법
collect = dbname.people                  #collection에 연결하는 두번째 방법 #people이라는 collection이 없어도 자동으로 만들어진다

#datas = []
#for i in range(10):
#    data = {"number" : i}
#    datas.append(data)
#print(datas)

collect.insert_many([ {"number" : i} for i in range(10)])
print(collect.count_documents({})) 


conn.close()

34

### (6) 조회기능

In [37]:
conn = pymongo.MongoClient("127.0.0.1", 27017) 
dbname = conn.testdb                       #mongodb에 연결하는 두번째 방법
collect = dbname.people

# 전체 조회

for i in collect.find():
    print(i)

print("-----------------------------------------------------")

# 나이가 20세인 document 조회
for i in collect.find({"age" : 20}):
    print(i)
    
# 나이가 23세이상인 document 조회    
print("-----------------------------------------------------")
for i in collect.find({"age" : {"$gte": 23}}):      #몽고db에서 연산자에 ""를 쓰지 않았지만 여기서는 ""을 써야함
    print(i)                                         # 키 값에서는 항상 ""를 써주면 손해가 없음.

    
#  조건중 하나만 조회
#print(collect.find_one())
print(collect.find_one({"age" : {"$gte": 20}}))

conn.close()

{'_id': ObjectId('6406b4c8e137487d7b761cd2'), 'number': 0}
{'_id': ObjectId('6406b4c8e137487d7b761cd3'), 'number': 1}
{'_id': ObjectId('6406b4c8e137487d7b761cd4'), 'number': 2}
{'_id': ObjectId('6406b4c8e137487d7b761cd5'), 'number': 3}
{'_id': ObjectId('6406b4c8e137487d7b761cd6'), 'number': 4}
{'_id': ObjectId('6406b4c8e137487d7b761cd7'), 'number': 5}
{'_id': ObjectId('6406b4c8e137487d7b761cd8'), 'number': 6}
{'_id': ObjectId('6406b4c8e137487d7b761cd9'), 'number': 7}
{'_id': ObjectId('6406b4c8e137487d7b761cda'), 'number': 8}
{'_id': ObjectId('6406b4c8e137487d7b761cdb'), 'number': 9}
{'_id': ObjectId('6406b4ece137487d7b761cdd'), 'number': 0}
{'_id': ObjectId('6406b4ece137487d7b761cde'), 'number': 1}
{'_id': ObjectId('6406b4ece137487d7b761cdf'), 'number': 2}
{'_id': ObjectId('6406b4ece137487d7b761ce0'), 'number': 3}
{'_id': ObjectId('6406b4ece137487d7b761ce1'), 'number': 4}
{'_id': ObjectId('6406b4ece137487d7b761ce2'), 'number': 5}
{'_id': ObjectId('6406b4ece137487d7b761ce3'), 'number': 6}
{'_id': ObjectId('6406b4ece137487d7b761ce4'), 'number': 7}
{'_id': ObjectId('6406b4ece137487d7b761ce5'), 'number': 8}
{'_id': ObjectId('6406b4ece137487d7b761ce6'), 'number': 9}
{'_id': ObjectId('6406b5b2844600da8b9702b7'), 'name': 'Abet', 'age': 19.0}
{'_id': ObjectId('6406b5b2844600da8b9702b8'), 'name': 'Betty', 'age': 20.0}
{'_id': ObjectId('6406b5b2844600da8b9702b9'), 'name': 'Charlie', 'age': 23.0, 'skills': ['mongodb', 'nodejs']}
{'_id': ObjectId('6406b5b2844600da8b9702ba'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('6406e884e2d15343b5a8eda0'), 'number': 0}
{'_id': ObjectId('6406e884e2d15343b5a8eda1'), 'number': 1}
{'_id': ObjectId('6406e884e2d15343b5a8eda2'), 'number': 2}
{'_id': ObjectId('6406e884e2d15343b5a8eda3'), 'number': 3}
{'_id': ObjectId('6406e884e2d15343b5a8eda4'), 'number': 4}
{'_id': ObjectId('6406e884e2d15343b5a8eda5'), 'number': 5}
{'_id': ObjectId('6406e884e2d15343b5a8eda6'), 'number': 6}
{'_id': ObjectId('6406e884e2d15343b5a8eda7'), 'number': 7}
{'_id': ObjectId('6406e884e2d15343b5a8eda8'), 'number': 8}
{'_id': ObjectId('6406e884e2d15343b5a8eda9'), 'number': 9}
-----------------------------------------------------
{'_id': ObjectId('6406b5b2844600da8b9702b8'), 'name': 'Betty', 'age': 20.0}
-----------------------------------------------------
{'_id': ObjectId('6406b5b2844600da8b9702b9'), 'name': 'Charlie', 'age': 23.0, 'skills': ['mongodb', 'nodejs']}
{'_id': ObjectId('6406b5b2844600da8b9702ba'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('6406b5b2844600da8b9702b8'), 'name': 'Betty', 'age': 20.0}

### (7) 수정 기능

In [39]:
conn = MongoClient("127.0.0.1", 27017) 
dbname = conn.testdb                       #mongodb에 연결하는 두번째 방법
collect = dbname.people

print(collect.find_one({"name" : "Abet"}))
collect.update_one({"name" : "Abet"}, {"$set" : {"age" : 20}})
print(collect.find_one({"name" : "Abet"}))

conn.close

{'_id': ObjectId('6406b5b2844600da8b9702b7'), 'name': 'Abet', 'age': 19.0}
{'_id': ObjectId('6406b5b2844600da8b9702b7'), 'name': 'Abet', 'age': 20}